.nav-link{
    color: green;
    font-family: 'Cookie', cursive;
    font-size: xx-large;
    font-weight: 500;
  }
  .nav-link:hover{
    background-color:lightgray;
    border-radius: 50%;
  
  }
  .nav-link.active {
    color: gainsboro;
  }